@import "../../styles/global";

.container {
	@include flex(row, wrap);
	margin-right: 52px; 

	@media(max-width: $web-medium-max) {
		margin-right: 0;
	}

	@media(max-width: $tablet - 277) {
		justify-content: center
	}
}