@import "../../styles/global";

.container {
	@include flex(row, wrap);
	margin-right: 52px; 

	@media(max-width: $web-medium-max) {
		margin-right: 0;
	}

	@media(max-width: $tablet - 277) {
		justify-content: center
	}

	@media(max-width: $mobile - 1) {
		margin-right: 0;
	}
}

body:lang(en) {
	.container {
		margin-left: 52px;
		margin-right: 0;

		@media(max-width: $web-medium-max) {
			margin-left: 0;
		}
	}

}