@import '../../../style/colors.scss';
$background-gray : #e8eaeb;

.styled_range {
  input[type="range"] {
    -webkit-appearance: none;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  input[type="range"]:focus {
    outline: none;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 12px;
  }
}
.track_range {
  pointer-events: none;
}

.track_range::-webkit-slider-runnable-track {
  background: $background-gray;
  border-radius: 6px;
  overflow: hidden;
}

.track_range::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: transparent;
  height: 1px;
  width: 1px;
  box-shadow: -600px 0 0 600px $green;
}

.thumb_range::-webkit-slider-runnable-track {
  background: transparent;
  cursor: pointer;
}

.thumb_range::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 20px;
  height: 40px;
  width: 40px;
  background:  url("../../../assets/icon-range-slider-holder.svg") center center
  no-repeat;
  cursor: pointer;
  margin: -12px 0px 0px 0px;
}
