@import '../../styles/global';

.videoPlayer {
  background: #fff;
  padding: 30px;
  height: 100%;
  @include border-radius($br-radius-sm);

  .row {
    @include flex(row, wrap);
    justify-content: center;
    align-items: center;
    margin: 0 4px;
  }

  .controlBar {
    border: solid 1px #bbbdbf;

    button {
      background-color: #fff;
      border: 0;
      cursor: pointer;
    }
  }
}

.audioPlayer {
  .details {
    margin: 60px 10px;
  }

  .description{
    color:$lt-gray;
  }
}
