@import '../../../styles/global.scss';

.uploadModal {
  @include flex(column, wrap);
  color:$dk-gray;
  margin-top: 45px;
  justify-content: center;
  align-items: center;
  .row {
    @include flex(row, wrap);
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 15px 0 48px;
  }
  .column {
    @include flex(column, wrap);
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 15px 0 48px;
  }
}
