@import "../../../../styles/global";

.fileFiltering {
	.option {
		height: 22px;
		line-height: 22px;
		margin-top: 21px;
		margin-right: 11px;

		.text {
			margin-right: 10px;
			vertical-align: middle;
			color: $dk-gray;
		}

		> div {
			display: inline-block;
		}
	}
}

body:lang(en) {
	.fileFiltering {
		.option {
			margin-right: 0;
			margin-left: 11px;

			.text {
				margin-right: 0;
				margin-left: 10px;
			}
		}
	}
}