@import "../../styles/global";
$stepbar-color: #e8eaeb;

.stepbar {
	position: relative;

	.stepsWrapper {
		position: absolute;
		list-style: none;
		width: 1180px;

		@include margin-with-direction(-590px);
		@if $body-dir == 'rtl' {
			left: 50%;
		} @else {
			right: 50%;
		}

		@media(min-width: $web-medium + 1) and (max-width: $web-medium-max) {
			width: 640px;
			@include margin-with-direction(-210px);
		}		

		@media(min-width: $tablet - 200) and (max-width: $web-medium) {
			width: 424px;
			@include margin-with-direction(-164px);
		}

		@media(max-width: $tablet - 199) {
			width: 320px;
			@include margin-with-direction(-160px);
		}

		.step {
			position: relative;
			width: 255px;
			height: 3px;

			@if $body-dir == 'rtl' {
				float: right;
			} @else {
				float: left;
			}

			@media(min-width: $web-medium) and (max-width: $web-medium-max) {
				width: 160px;
			}

			@media(min-width: $tablet - 200) and (max-width: $web-medium) {
				width: 106px;
			}

			@media(max-width: $tablet - 199) {
				width: 73.75px;
			}

			.item {
				display: block;
				width: 160px;
				text-align: center;

				@media(min-width: $tablet - 200) and (max-width: $web-medium) {
					width: 100px;
				}

				@media(max-width: $tablet - 199) {
					width: 25px;
				}

				.circle {
					display: block;
					width: 25px;
					height: 25px;
					border: 3px solid $stepbar-color;
					margin-top: -8px;
					margin-right: auto;
					margin-left: auto;
					@include border-radius(50px);
				}

				.caption {
					color: $lt-gray;
					font-size: $font-size - 2;
					line-height: 32px;

					@media (max-width: $web-medium) {
						line-height: 0;
					}

					@media(max-width: $tablet - 199) {
						display: none;
					}
				}
			}

			&:first-child {
				.caption {

					@if $body-dir == 'rtl' {
						padding-right: 62px;
					} @else {
						padding-left: 62px;
					}

					@media(max-width: $web-medium) {
						padding-right: 0;
						padding-left: 0;
					}
				}

			}

			&:last-child {
				width: 0;

				.caption {

					@if $body-dir == 'rtl' {
						margin-right: -89px;

						@media(min-width: $web-medium + 1) and (max-width: $web-medium-max) {
							margin-left: -23px;
						}
					} @else {
						margin-left: -89px;

						@media(min-width: $web-medium + 1) and (max-width: $web-medium-max) {
							margin-right: -23px;
						}
					}

					@media(max-width: $web-medium) {
						margin-right: 0;
						margin-left: 0;
					}
				}

				&:after {
					width: 0;
				}
			}

			&:after {
				content: '';
				position: absolute;
				top: 3px;
				width: 230px;
				height: 3px;
				background: $stepbar-color;

				@if $body-dir == 'rtl' {
					right: 93px;

					@media(min-width: $web-medium) and (max-width: $web-medium-max) {
						width: 135px;
					}

					@media(min-width: $tablet - 200) and (max-width: $web-medium) {
						right: 64px;
						width: 80px;
					}

					@media(max-width: $tablet - 199) {
						right: 25px;
						width: 48px;
					}
				} @else {
					left: 93px;

					@media(min-width: $web-medium) and (max-width: $web-medium-max) {
						width: 135px;
					}

					@media(min-width: $tablet - 200) and (max-width: $web-medium) {
						left: 64px;
						width: 80px;
					}

					@media(max-width: $tablet - 199) {
						left: 25px;
						width: 48px;
					}
				}
			}

			&.completed, &.current {

				.item {
					.circle {
						border: 3px solid $lt-blue;
						background: #fff;
						background-clip: padding-box;

						&:before {
							content: '';
							display: inline-block;
							width: 11px;
							height: 11px;
							margin-top: 3.5px;
							@include border-radius(50px);
						}
					}
				}
			}

			&.completed {
				.item {

					.circle {

						&:before {
							background-color: $lt-blue;
						}
					}
				}

				&:after {
					background-color: $lt-blue;
				}
			}

			&.current {
				.item {

					.circle {

						&:before {
							background-color: $stepbar-color;
						}
					}

					.caption {
						font-family: $medium-font;
					}
				}
			}
		}
	}
}