@import '../../../../../../styles/global.scss';

.footer {
	margin-bottom: 20px;
		
	.btnWrapper {
		@include flex(row, wrap);
		justify-content: space-between;
		align-items: center;
		margin: 51px 0;

		@media(max-width: $mobile) {
			margin: 30px 0;
		}

		.right {
			> button {
				margin-left: 20px;
				color: $lt-gray;

				img {
					margin-left: 9px;
					@include transform(rotate(180deg));
				}
			}
		}
		.left {
			> button {
				direction: ltr;

				img {
					margin-right: 6px;
					margin-left: 6px;
				}
			}
		}
	}

	.info {
		@include flex(row, wrap);
		color: $lt-gray;
		width: 100%;

		.item {
			width: 20%;
			margin-bottom: 14px;
			margin-top: 2px;

			@media(max-width: $web-medium - 132) {
				width: 100%;
				margin-bottom: 0
			}

			ul {
				li {
					margin-top: 12px;
				}
			}
			

			.value {
				color: $dk-gray
			}
		}
	}
}

body:lang(en) {
	.footer {
		.btnWrapper {
			.right {
				> button {
					margin-right: 20px;
					margin-left: 0;
					direction: rtl;

					&:first-child {
					 width: 95px;
					}
				}
			}
		}
	}
}