/* all links with icon (IconLink component) */
.iconLink {
  cursor: pointer;

  img {
    vertical-align: middle;
  }
}
.react-fine-uploader-gallery-dropzone {
  border-radius: 3px !important;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05) !important;
  border: solid 1px #e5e5e5 !important;
  background-color: #ffffff !important;
}
.react-fine-uploader-file-progress-bar {
  background: #00abc7;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) inset;
  height: inherit;
  border-radius: 9px;
  direction: rtl;
}
.red {
  background: #ff4747;
}
.yellow {
  background: #f5cd23;
}
.green {
  background: #21d352;
}
.react-fine-uploader-file-progress-bar-container {
  height: 5px;
  left: 50%;
  opacity: 0.9;
  top: 60px;
  width: 90%;
  z-index: 1;
  direction: ltr;
  background: #f1f1f2;
  width: 100%;
}
.react-fine-uploader-thumbnail {
  width: 28px;
  height: 28px;
}
.rowItem {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  position: relative;
  .imageIcon {
    width: 28px;
    height: 28px;
    object-fit: cover;
    border-radius: 3px;
  }
  .icon {
    margin-right: 21px;
    margin-left: 15px;

    @media (max-width: $tablet) {
      margin-right: 15px;
    }
  }
}
.smPadding {
  padding: 10px 7px !important;
  border-bottom: 0 !important;
}
/* hide items */
.hide {
  display: none;
}

.tooltipIcon {
  margin: 6px 0 0;
}

/* networkInfo */
.networkInfo {
  width: 100%;
  padding: 5px;

  .header {
    color: $input-color;
    font-family: $medium-font;
  }

  .header,
  .body {
    @include flex(row, wrap);

    > div {
      width: 50%;
      line-height: 50px;
    }
  }

  .body {
    color: $dk-gray;
  }
}

/* m choosePlanCard */
@mixin choosePlanCard {
  > div {
    display: block;
    text-align: center;
  }

  footer {
    direction: rtl;
  }

  .planInfo {
    padding: 12px 15px;

    .name {
      color: $dk-gray;
      font-family: $medium-font;
      font-size: $font-size + 2;
    }

    .trafic {
      margin-top: -3px;
      font-size: $font-size - 4;
      color: $lt-gray;
    }

    .softwareInfo {
      margin-top: 14px;
      text-align: right;

      .row {
        @include flex(row, wrap);
        justify-content: space-between;
        font-size: $font-size - 2;
        color: $dk-gray;
      }
    }
  }
}
@media print {
  body * {
    visibility: hidden;
  }
  #section-to-print, #section-to-print * {
    visibility: visible;
  }
  #section-to-print {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height:10%;
    border:0;
    left: 0;
    top: 0;
  }
}