/* all links with icon (IconLink component) */
.iconLink {
  cursor: pointer;

  img {
    vertical-align: middle;
  }
}

.rowItem {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  
  .icon {
    margin-right: 21px;
    margin-left: 15px;

    @media(max-width: $tablet) {
      margin-right: 15px;
    }
  }
}

/* hide items */
.hide {
  display: none;
}

.tooltipIcon {
  margin: 6px 0 0;
}
