/* border-radius */
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

/* box-shadow */
@mixin box-shadow($box-shadow) {
	-webkit-box-shadow: $box-shadow;
	-moz-box-shadow: $box-shadow;
	box-shadow: $box-shadow;
}

/* display flex */
@mixin flex($direction, $wrap-status) {
	display: -webkit-box; 
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex; 
	display: flex;
	flex-direction: $direction;
	flex-wrap: $wrap-status;
}

/* changable margin with direction */
@mixin margin-with-direction($margin) {
	@if $body-dir == rtl {
		margin-left: $margin;
	} @else {
		margin-right: $margin;
	}
}