$body-bcgcolor: rgba(248, 248, 248, 0.82);

/* type of fonts */
$thin-font: 'vazir-thin';
$regular-font: 'vazir-regular';
$light-font: 'vazir-light';
$medium-font: 'vazir-medium';
$bold-font: 'vazir-bold';

/* default font-size */
$font-size: 14px;



/* general */
* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
}

ul {
  li {
    list-style: none;
  }
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}

body {
  background: $body-bcgcolor;
  font-family: $regular-font;
  font-size: $font-size;
  direction: rtl;
  
  &:lang(en) {
    direction: ltr;
    font-family: $regular-font;
  }
}


