@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* fonts */
@font-face {
  font-family: 'vazir-thin';
  font-weight: 100;
  src: url('/fonts/vazir-thin.woff') format('woff'), url('/fonts/vazir-thin.ttf') format('truetype');
}

@font-face {
  font-family: 'vazir-regular';
  font-weight: normal;
  src: url('/fonts/vazir.woff') format('woff'), url('/fonts/vazir.ttf') format('truetype');
}

@font-face {
  font-family: 'vazir-light';
  font-weight: 300;
  src: url('/fonts/vazir-light.woff') format('woff'), url('/fonts/vazir-light.ttf') format('truetype');
}

@font-face {
  font-family: 'vazir-medium';
  font-weight: 500;
  src: url('/fonts/vazir-medium.woff') format('woff'), url('/fonts/vazir-medium.ttf') format('truetype');
}

@font-face {
  font-family: 'vazir-bold';
  font-weight: bold;
  src: url('/fonts/vazir-bold.woff') format('woff'), url('/fonts/vazir-bold.ttf') format('truetype');
}

/* normalize */
*:focus {
  outline: none !important;
}

body {
  direction: rtl;
  @apply .pg-bg-body .pg-text-sm .pg-font-vRegular;
}

img {
  display: initial;
}

/* components */
.flex-row-nowrap {
  @apply .pg-flex .pg-flex-row .pg-flex-no-wrap
}

.flex-row-wrap-withspace {
  @apply .pg-flex .pg-flex-row .pg-flex-wrap .pg-justify-between
}

.flex-center {
  @apply .pg-flex .pg-items-center .pg-justify-center
}

.fixed-on-top {
  @apply .pg-fixed .pg-top-0 .pg-inset-x-0
}

.absolute-on-bottom {
  @apply .pg-absolute .pg-bottom-0 .pg-inset-x-0
}

/* commons */
.sidebar-menu {
  @apply .pg-absolute .pg-top-40p .pg-inset-x-0 .pg-bottom-0 .pg-overflow-auto .pg-pt-0 .pg-pb-0 .pg-pr-30p .pg-pl-30p
}

/* for en version */
body:lang(en) {
  direction: ltr;
  @apply .pg-font-sans
}
