/* type of fonts */
$thin-font: 'vazir-thin';
$light-font: 'vazir-light';
$medium-font: 'vazir-medium';
$bold-font: 'vazir-bold';

/* pages padding responsive mode */
$rsp-padding: 15px;

/* sidebar */
$sidebar-width: 260px;

