/* pages padding responsive mode */
$rsp-padding: 15px;

/* sidebar */
$sidebar-width: 260px;

/* default ui_elements */
$default-height: 35px;
$br-radius-lg: 100px;
$br-radius-sm: 3px;

/* default padding & margin */
$default-padding: 30px;
$default-margin: 30px;

/* responsive resolution */
$tablet: 768px;
$web-medium: 992px;


