@import '../../../styles/global.scss';

.alert {
	position: relative;
	@include flex(row, wrap);
	padding: 0 12px 0 10px;
	opacity: 1;

	&.hide {
		display: none;
		opacity: 0;
		@include transition(opacity 500ms);
	}

	> button {
		display: flex;
		align-items: center;
		background-color: transparent;
		padding: 0;

		img {
			width: 16px;
			height: 16px;
			cursor: pointer;
		}
	}

	&.red {
		color: $red;
		border: 1px solid $red;
		background-color: #fedfdf;
	}

	&.blue {
		color: $dk-blue;
		border: 1px solid $lt-blue;
		background-color: rgba(75, 156, 253, 0.03);
	}

	&.green {
		color: #19b444;
		border: 1px solid $green;
		background-color: rgba(33, 211, 82, 0.1);
	}

	&.sm {
		height: $default-height;
		line-height: $default-height;
		@include border-radius(20px);
		justify-content: center;
	}

	&.lg {
		width: 100%;
		height: 50px;
		line-height: 50px;
		font-size: $font-size - 2;
		justify-content: space-between;
		@include border-radius($br-radius-sm)
	}
}

body:lang(en) {
	.alert {
		padding: 0 10px 0 12px;
	}
}