@import '../../styles/global.scss';

$arrow-width: 16px;
.flex {
  display: flex;
  &:nth-child(2){
    margin-left: 20px;
  }
}
.loading{
  width:100%;
  display: flex;
  min-height:200px;
  justify-content: center;
  align-items: center;
}
.header {
  @include flex(row, wrap);
  margin-bottom: 35px;
  margin-left: 35px;

  @media(max-width: $tablet) {
    margin-bottom: 0;
  }

  .left {
    display: flex;

    @media(max-width: $tablet) {
      display: none;
    }

    > div {
      &:first-child {
        margin-left: 20px;
      }

      &:last-child {
        margin-right: 30px;
      }
    }
  
    .viewMode {
       @include flex(column, wrap);
       justify-content: center;
       align-items: center;
       img {
        cursor: pointer;
       } 
    }
  }
}

.footer {
  @include flex(row, wrap);

  margin-top: 100px;
  justify-content: center;

  .arrow {
    color: $text-gray;
    img {
      margin-left: 15px;
      vertical-align: middle;
    }
  }
}

body:lang(en) {
  .header {
    margin-right: 35px;
    margin-left: 0;

    .left {
      > div {
        &:first-child {
          margin-right: 20px;
        }
        &:last-child {
          margin-right: 0;
          margin-left: 30px;
        }
      }
    }
  }
}
