@import '../../styles/global.scss';

$arrow-width: 16px;

.header {
  @include flex(row, wrap);
  justify-content: space-between;
  margin-bottom: 60px;
  .left {
    display: flex;
    justify-self: flex-end;
    align-items: center;
    cursor: pointer;
  }
}
.RowItem {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  * {
    margin-left: 7px;
  }
}
.footer {
  @include flex(row, wrap);

  margin-top: 100px;
  justify-content: center;

  .arrow {
    color: $text-gray;
    img {
      margin-left: 15px;
      vertical-align: middle;
    }
  }
}
