@import "../../styles/global";

.main {
	position: relative;
	margin-top: $navbar-height;
	padding-top: $default-padding + 10;
	padding-bottom: 2 * $default-padding;
	margin-right: $sidebar-width;
	padding-right: $default-padding;
	padding-left: $default-padding;
	z-index: 5;

	@media(max-width: $tablet) {
		margin-right: 0;
	}

	@media(max-width: $tablet) {
		margin-top: $navbar-height + 10;
		margin-left: 0;
		padding-top: $default-padding - 10;
		padding-right: $rsp-padding;
		padding-left: $rsp-padding;
	}
}

.ltr {
	.main {
		margin-left: $sidebar-width;
		padding-right: $default-padding;
		padding-left: $default-padding;

		@media(max-width: $tablet) {
			margin-left: 0;
		}
	}
}