@import "../../styles/global";

.main {
	position: relative;
	margin-top: $navbar-height;
	padding-top: $default-padding + 10;
	padding-bottom: 2 * $default-padding;
	overflow: hidden;
	z-index: 10;

	@if $body-dir == rtl {
		margin-right: $sidebar-width;
		padding-right: $default-padding;
		padding-left: $default-padding;
	} @else {
		margin-left: $sidebar-width;
		padding-right: $default-padding;
		padding-left: $default-padding;
	}
}
