@import '../../../style/colors.scss';

.progressContainer{
    position: relative;
}

.progressContainer progress {
    background-color: #eee;
    height: 40px;
    border-radius: 40px;
}

.progressContainer progress::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 40px;
}

.progressContainer progress::-webkit-progress-value {

    border-radius: 40px;
}

.progressContainer  .red::-webkit-progress-value  {
    background-color: $red !important; 
}
.progressContainer  .green::-webkit-progress-value  {
    background-color: $green !important; 
}
.progressContainer  .yellow::-webkit-progress-value  {
    background-color: $yellow !important; 
}
