@import "../../../style/colors.scss";
$border-rds-size: 40px;

.progressContainer {
  position: relative;

  progress {
    background-color: #eee;
    height: 40px;
    @include border-radius($border-rds-size);
  }

  progress::-webkit-progress-bar {
    background-color: #eee;
    @include border-radius($border-rds-size);
  }

  progress::-webkit-progress-value {
    @include border-radius($border-rds-size);
  }

  .red::-webkit-progress-value {
    background-color: $red !important;
  }

  .green::-webkit-progress-value {
    background-color: $green !important;
  }

  .yellow::-webkit-progress-value {
    background-color: $yellow !important;
  }
}
