@import "../../../style/colors.scss";

.progressContainer {
  position: relative;
  progress {
    background-color: #eee;
    height: 40px;
    border-radius: 40px;
  }

  progress::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 40px;
  }

  progress::-webkit-progress-value {
    border-radius: 40px;
  }

  .red::-webkit-progress-value {
    background-color: $red !important;
  }

  .green::-webkit-progress-value {
    background-color: $green !important;
  }

  .yellow::-webkit-progress-value {
    background-color: $yellow !important;
  }
}
