@import '../../../../styles/global.scss';

.oredrHeader {
	margin-bottom: 66px;
}

.stepDescription {
	@include flex(row, wrap);
	margin-bottom: 65px;

	@media(max-width: $mobile) {
		margin-bottom: 20px;
	}
	
	.number {
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin-left: 10px;
		width: 41px;
		height: 41px;
		border: solid 1px $dk-gray;
		font-size: $font-size + 8;
		@include border-radius(50%);

		@media(max-width: $mobile) {
			width: 32px;
			height: 32px;
			font-size: $font-size + 6;
		}
	}

	.text {
		.title {
			font-size: $font-size + 2;
			color: $dk-gray;

			@media(max-width: $mobile) {
				font-size: $font-size - 2;
			}
		}

		.subTitle {
			font-size: $font-size - 2;
			color: $lt-gray;
			margin-top: 1px;

			@media(max-width: $mobile) {
				font-size: $font-size - 5;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				width: 245px;
			}
		}
	}
	
}

.stepbarWrapper {
	height: 45px;
	margin-top: 66px;
	margin-bottom: 52px;

	@media(max-width: $mobile) {
		margin-top: 25px;
		margin-bottom: -5px;
	}
}

.cardWrapper {
	@include flex(row, wrap);
}

.serviceDuration {
	.cardWrapper {
		img {
			width: 68px;
			height: 60px;
		}
	}
}

.choosePlan {
	.choosePlanCard {
		@include choosePlanCard;
	}
  }

.FinalStep {
	.wrapper {
		margin: 0 0 124px;

		@media(max-width: $tablet) {
			margin: 0 0 50px;
		}
	}

	.caption {
		color: $dk-gray;
		line-height: 32px;
	}	

	.dscp {
		color: $lt-gray;
		font-size: $font-size - 2;
		margin-top: -4px;
	}

	.serverName {
		padding: 6px;
		width: 100%;

		.dscp {
			margin-bottom: 25px;
		}

		input {
			width: 372px;

			@media(max-width: $mobile + 65) {
				width: 255px;
			}
		}
	}

	.discount {
	    padding: 6px;
		width: 100%;

		.dscp {
			margin-bottom: 18px;
		}

		input {
			width: 174px;
			height: 35px;
		}

		button {
			margin-right: 10px;

			@media(max-width: $mobile + 65) {
				margin-right: 3px;
			}
		}

	}
}

.chooseNetworkCard {
	.wrapper {
		margin: 0 0 145px;

		@media(max-width: $tablet) {
			margin: 0 0 30px;
		}
	}
}

.settingBox {
	@include flex(row, wrap);
	justify-content: space-between;
	align-items: center;
	width: 650px;
	height: $navbar-height;
	margin: 0 auto 30px auto;
	padding: 0 20px;
	background-color: #fff;
	border: solid 1px #dbdbdb;
	@include border-radius($br-radius-sm);

	@media (min-width: $mobile + 20) and (max-width: 651px) {
		width: 400px;
	}	

	@media (min-width: $mobile) and (max-width: $mobile + 20) {
		width: $mobile;
	}	

	@media (max-width: $mobile + 1) {
		width: 320px;
	}

	.right {
		.name {
			color: $dk-gray;
			font-size: $font-size + 2;
			font-family: $medium-font;
		}

		.info {
			color: $dk-blue
		}
	}	

	.center {
		margin: -8px 34px;
		flex-grow: 1;
	}	

	.left {
		font-size: $font-size - 2;
		color: $lt-gray;
	}
}

body:lang(en) {
	.number {
		margin-right: 9px;
		margin-left: 0
	}

	.FinalStep {
		.discount {
			button {
				margin-left: 10px;
				margin-right: 0;

				@media(max-width: $mobile + 65) {
					margin-left: 3px;
				}
			}
		}
 	}
}