@import '../../../../styles/global.scss';

.oredrHeader {
	margin-bottom: 66px;
}

.stepDescription {
	@include flex(row, wrap);
	margin-bottom: 65px;
	
	.number {
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin-left: 10px;
		width: 41px;
		height: 41px;
		border: solid 1px $dk-gray;
		font-size: $font-size + 8;
		@include border-radius(50%);
	}

	.text {
		.title {
			font-size: $font-size + 2;
			color: $dk-gray;
		}

		.subTitle {
			font-size: $font-size - 2;
			color: $lt-gray;
		    margin-top: 1px;
		}
	}
	
}

.stepbarWrapper {
	height: 45px;
	margin-top: 66px;
	margin-bottom: 52px;
}

.cardWrapper {
	@include flex(row, wrap);
}

.serviceDuration {
	.cardWrapper {
		img {
			width: 68px;
			height: 60px;
		}
	}
}

.choosePlan {
	.choosePlanCard {
		@include choosePlanCard;
	}
  }

.FinalStep {
	.title {
		color: $dk-gray;
	    line-height: 48px;
	}	

	.description {
		color: $lt-gray;
		font-size: $font-size - 2;
		line-height: 0px;
		margin-top: -4px;
	}

	.serverName {
		padding: 6px;
		width: 100%;

		.description {
			margin-bottom: 25px;
		}

		input {
			width: 372px;

			@media(max-width: $mobile) {
				width: 320px;
			}
		}
	}

	.discount {
	    padding: 6px;
		width: 100%;

		.description {
			margin-bottom: 18px;
		}

		input {
			width: 174px;
			height: 35px;
		}

		button {
			margin-right: 10px;
		}

	}
}

.settingBox {
	@include flex(row, wrap);
	justify-content: space-between;
	align-items: center;
	width: 650px;
	height: $navbar-height;
	margin: 0 auto 30px auto;
	padding: 0 20px;
	background-color: #fff;
	border: solid 1px #dbdbdb;
	@include border-radius($br-radius-sm);

	@media (min-width: $mobile + 20) and (max-width: 651px) {
		width: 400px;
	}	

	@media (min-width: $mobile) and (max-width: $mobile + 20) {
		width: $mobile;
	}	

	@media (max-width: $mobile + 1) {
		width: 320px;
	}

	.right {
		.name {
			color: $dk-gray;
			font-size: $font-size + 2;
			font-family: $medium-font;
		}

		.info {
			color: $dk-blue
		}
	}	

	.center {
		margin: -8px 34px;
		flex-grow: 1;
	}	

	.left {
		font-size: $font-size - 2;
		color: $lt-gray;
	}
}

body:lang(en) {
	.number {
		margin-right: 10px;
	}

	.FinalStep {
		.discount {
			button {
				margin-left: 10px;
			}
		}
 	}
}