@import '../../../styles/global.scss';

$dropdown-width: 140px;
$dropdown-item-height: 33px;
$dropdown-border: #e5e5e5;

.dropdownBox {
  .more {
    margin-top: -20px;

    &:after {
      content: '...';
      display: flex;
      justify-content: center;
      font-size: $font-size * 2;
    }
  }

  .dropdown {
    @include flex(column, wrap);
    position: absolute;
    left: -10px;
    width: $dropdown-width;
    list-style: none;
    background: white;
    border: solid 1px $dropdown-border;
    font-size: $font-size - 2;
    text-align: right;
    z-index: 4;
    @include border-radius($br-radius-sm);
    @include box-shadow(0 1px 3px 0 rgba(0, 0, 0, 0.05));

    li {
      display: flex;
      align-items: center;
      color: $lt-gray;
      padding: 0 30px;
      cursor: pointer;

      &:hover {
        background: $hover-gray;
      }

      a {
        width: 100%;
        align-items: center;
        display: flex;
        height: 35px;
      }
    }

    .selected {
      background: $hover-gray;
    }

    a:link {
      color: $lt-gray;
      text-decoration: none;
      border-bottom: 0;
      width: 100%;
    }

    .label {
      line-height: 2.5;
      padding:0;
      margin: relative;
    }

    .description {
      font-family: $light-font;
      font-size: $font-size - 6;
      margin-bottom: 9px;
    }

    .bordered {
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);

      &:last-child {
        border: 0;
      }
    }
 
    .checkmark {
      display: inline-block;
      position: relative;
      top: 30%;

      &:after {
        content: '';
        display: block;
        width: 3px;
        height: 6px;
        border: solid 0.8px $lt-gray;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
    }
  }
}

.relative {
  position: relative !important;
  left:0 !important;
}

body:lang(en) {
  .dropdownBox {
    text-align: right;

    .dropdown {
      text-align: left;
      right: 0;
      left: auto;
    }
  }
}