@import '../../../styles/global';
$countdown-color:#8dff46;

.counter {
  @include border-radius(50%);
  border: 1px solid $countdown-color;
  width: 23px;
  height: 23px;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
