@import '../../../styles/global.scss';

.colorfulBox {
	position: relative;
	@include flex(row, wrap);
	padding: 10px 12px 10px 10px;
	font-family: $medium-font;
	opacity: 1;

	&.hide {
		display: none;
		opacity: 0;
		@include transition(opacity 500ms);
	}

	.message {
		flex-basis: calc(100% - 29px)
	}
	
	.close {
		left: -2px;
		
		img {
			width: 16px;
			height: 16px;
			cursor: pointer;
		}
	}

	&.white {
		@include box-shadow(0 1px 3px 0 rgba(0, 0, 0, 0.15));
		background-color: #fff;
	}

	&.red {
		color: $red;
		border: 1px solid $red;
		background-color: #fedfdf;
	}

	&.blue {
		color: $dk-blue;
		border: 1px solid $lt-blue;
		background-color: rgba(75, 156, 253, 0.03);
	}

	&.green {
		color: #19b444;
		border: 1px solid $green;
		background-color: rgba(33, 211, 82, 0.1);
	}

	&.sm {
		min-height: $default-height;
		line-height: $default-height;
		@include border-radius(20px);
		justify-content: center;
	}

	&.lg {
		width: 100%;
		min-height: 50px;
		font-size: $font-size - 2;
		align-items: center;
		justify-content: space-between;
		@include border-radius($br-radius-sm)
	}
}

body:lang(en) {
	.colorfulBox {
		padding: 10px 10px 10px 12px;

		.close {
			position: absolute;
			right: 2px;
			left: auto;
		}
	}
}