@import "../../../styles/global";

.checkbox {
	@include checkbox-radio-theme(checkbox, null);

	&.disableWithChecked {
		@include checkbox-radio-theme(checkbox, disableWithChecked);
	}

	&.disabled {
		@include checkbox-radio-theme(checkbox, disabled);
	}

	&.indeterminate {

		.checkmark {
			&:after {
				top: 6px;
				right: 3px;
				width: 6px;
				height: 1px;
				background-color: #fff;
				@include transform(none);
			}
		}
	}
}