@import '../../../../../styles/global.scss';

.control {
	button {
		display: flex;
		align-items: center;
		justify-content: center;
		width: $default-height;
		height: $default-height;
		@include border-radius(3px);
		background-image: linear-gradient(to top, #f7f7f7, #ffffff);
		border: solid 1px #e6e6e6;

		@media(min-width: $mobile) and (max-width: $tablet - 277) {
			width: 53px;
		}

		@media(max-width: $mobile - 1) {
			width: 50px;
		}
	}

	&.off {
		button {
			border: 1px solid $red;
			background: linear-gradient(to top, #f94926, #fd6b4b);
		}
		
	}
}

.multipleControl, .multiplePlan {
	@include flex(row, wrap);
	justify-content: space-around;

	@media(min-width: $mobile) and (max-width: $tablet - 277) {
		width: 298px $important;
	}

	@media(max-width: $mobile - 1) {
		width: 265px $important;
	}
}

.multiplePlan {
	width: 213px;
	button {
		font-size: $font-size - 2;
		width: 50px;

		@media(max-width: $mobile + 115) {
			width: 60px;
		}
	}
}

body:lang(en) {
	.multiplePlan {
		button {
			font-size: $font-size - 4;
		}
	}
}