@import '../../../../styles/global.scss';

.shareModal {
  .socialIcon {
    border: solid 1px #dfdfdf;

    img {
      width: 23px;
      height: 23px;
    }
  }

  .listItems {
    list-style: none;
    border: solid 1px #e5e5e5;
    left: -10px;

    .description {
      font-family: $light-font;
      font-size: 8px;
      margin-bottom:9px;
    }

    .bordered {
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);

      &:last-child {
        border: 0;
      }
    }
 
    .checkmark {
      &:after {
        content: '';
        display: block;
        width: 3px;
        height: 6px;
        border: solid 0.8px $lt-gray;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
    }
  }
}
