@import '../../../../styles/global.scss';

.submitButton {
  float: left;
}

.shareModal {
  .shareRow {
    @include flex(row, unset);
    margin: 0 10px;
  }
  .columnRow {
    @include flex(column, unset);
    width: 50%;
    margin-left:40px;
  }
  .socialRow{
    @include flex(row, unset);
    align-items: center;
    justify-content: center;
    

  }
  h4 {
    font-size: 14px;
    font-weight: 100;
    color: $dk-gray;
  }
  .paragraph {
    font-size: 10px;
    color: $input-color;
    margin-bottom:15px;
  }
  .socialIcon {
    width: 35px;
    height: 35px;
    border-radius: 3px;
    border: solid 1px #dfdfdf;
    background-color: #ffffff;
    margin-left:14px;
    img{
      width: 23px;
    height: 23px;
    }
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .shareUser{
    margin-top:50px;
    margin-bottom:15px;
  }
}
