@import "../../styles/global";
$img-size: 30px;

.navbar {
	@include flex(row, wrap);
	justify-content: space-between;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: $navbar-height;
	background-color: #fff;
	z-index: 100;

	@include box-shadow(0 2px 0 0 rgba(0, 0, 0, 0.05));
	@media(max-width: $tablet) {
		height: $navbar-height + 10;
		padding: 0 $rsp-padding;
	}

	.nav {
		.iconLink {
		
			.icon {
				width: $img-size - 6;
				height: $img-size - 6;
			}
		}
	}

	.right {
		@include flex(row, wrap);

		.logoWrapper {
			width: $sidebar-width;
			text-align: center;

			@media(max-width: $tablet) {
				width: auto;
			}
			@media(min-width: $tablet + 1) and (max-width: $web-medium) {
				width: 140px;
			}

			.logo {
				width: 62px;
				height: 31px;
				margin-top: 19.5px;

				@media(max-width: $tablet) {
					margin-top: 26px;
				}
			}
		}

		.nav {
			@include flex(row, wrap);
			margin: 23px 0;
			padding: 0;

			@media(max-width: $tablet) {
				display: none;
			}

			.iconLink {
				margin-left: $default-margin;

				span {
					color: $dk-gray;
					margin-right: 5px;
				}

				&.current {
					span {
						font-family: $medium-font;
					}
				}

				&:first-child {
					margin-right: $default-margin - 5;
				}
			}
		}
	}

	.left {
		margin-left: $default-margin;

		@media(max-width: $tablet) {
			margin-left: 0;
		}

		.nav {
			@include flex(row, wrap);
			overflow: hidden;
			clear: both;
			margin-top: 20px;

			@media(max-width: $tablet) {
				margin-top: 25px;
			}

			.avatar {
				width: $img-size;
				height: $img-size;
				vertical-align: middle;
				cursor: pointer;

				@include border-radius(50%);
				@media(max-width: $tablet) {
					width: $img-size + 4;
					height: $img-size + 4;
				}
			}

			.iconLink {
				margin-left: 23px;

				.icon {
					margin-top: 6px;
				}

				&.webIcon {
					@media(max-width: $tablet) {
						display: none;
						width: 1502px
					}
				}

				&.hasNotif {
					position: relative;

					&:before {
						content: '';
						position: absolute;
						top: 0;
						width: 4px;
						height: 4px;
						background-color: $red;
						left: 10px;
						@include border-radius(50%);
					}
				}

				&.status {
					width: $img-size;
					height: $img-size;
					background-color: #f3f7fd;
					text-align: center;
					@include border-radius(50%);

					.icon {
						margin-top: 4px;
					}

					@media(max-width: $tablet) {
						width: $img-size + 4;
						height: $img-size + 4;

						.icon {
							margin-top: 6px;
						}
					}
				}

				@media(max-width: $tablet) {
					margin-left: 10px;
				}
			}
		}
	}
}

.ltr {
	.navbar {
		.right {
			.nav {
				.iconLink {
					margin-right: $default-margin;
					margin-left: 0;

					span {
						margin-left: 5px;
						margin-right: 0;
					}

					&:first-child {
						margin-left: $default-margin - 5;
					}
				}
			}	 
		}

		.left {
			margin-right: $default-margin;
			margin-left: 0;

			@media(max-width: $tablet) {
				margin-right: 0;
			}

			.nav {
				.iconLink {
					margin-right: 21px;
					margin-left: 0;

					&.hasNotif {
						&:before {
							left: 5px;
						}
					}

					@media(max-width: $tablet) {
						margin-right: 10px;
						margin-left: 0;
					}
				}
			}
		}
	}
}
