@import "../../styles/global";
$img-size: 30px;

/* changable margin with direction */
@mixin margin-when-direction($margin) {
	@if $body-dir == rtl {
		margin-left: $margin;
	} @else {
		margin-right: $margin;
	}
}

.navbar {
	@include flex(row, wrap);
	justify-content: space-between;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 70px;
	background-color: #fff;
	z-index: 100;

	@include box-shadow(0 2px 0 0 rgba(0, 0, 0, 0.05));
	@media(max-width: $tablet) {
		height: 80px;
		padding: 0 $rsp-padding;
	}

	.nav {
		list-style: none;

		.iconLink {
			cursor: pointer;

			.icon {
				width: $img-size - 6;
				height: $img-size - 6;
				vertical-align: middle;
			}
		}
	}

	.right {
		@include flex(row, wrap);

		.logoWrapper {
			width: $sidebar-width;
			text-align: center;

			@media(max-width: $tablet) {
				width: auto;
			}
			@media(min-width: $tablet + 1) and (max-width: $web-medium) {
				width: 140px;
			}

			.logo {
				width: 62px;
				height: 31px;
				margin-top: 19.5px;

				@media(max-width: $tablet) {
					margin-top: 24.5px;
				}
			}
		}

		.nav {
			@include flex(row, wrap);
			margin: 23px 0;
			padding: 0;

			@media(max-width: $tablet) {
				display: none;
			}

			.iconLink {
				@include margin-when-direction($default-margin);

				span {
					font-family: $medium-font;

					@if $body-dir == rtl {
						margin-right: 5px;
					} @else {
						margin-left: 5px;
					}
				}

				&:first-child {
					@if $body-dir == rtl {
						margin-right: $default-margin - 5;
					} @else {
						margin-left: $default-margin - 5;
					}
				}

				@media(min-width: $tablet + 1) and (max-width: $web-medium) {
					margin-left: 22px;
				}
			}
		}
	}

	.left {
		@include margin-when-direction($default-margin);

		@media(max-width: $tablet) {
			@include margin-when-direction(0);
		}

		.nav {
			@include flex(row, wrap);
			overflow: hidden;
			clear: both;
			margin-top: 20px;

			@media(max-width: $tablet) {
				margin-top: 25px;
			}

			.avatar {
				width: $img-size;
				height: $img-size;
				vertical-align: middle;
				cursor: pointer;

				@include border-radius(50%);
				@media(max-width: $tablet) {
					width: $img-size + 4;
					height: $img-size + 4;
				}
			}

			.iconLink {
				@include margin-when-direction(23px);

				.icon {
					margin-top: 6px;
				}

				&.webIcn {
					@media(max-width: $tablet) {
						display: none;
					}
				}

				&.status {
					width: $img-size;
					height: $img-size;
					background-color: #f3f7fd;
					text-align: center;

					@include border-radius(50%);
					@media(max-width: $tablet) {
						width: $img-size + 4;
						height: $img-size + 4;

						.icon {
							margin-top: 6px;
						}
					}

					.icon {
						margin-top: 4px;
					}
				}

				@media(max-width: $tablet) {
					@include margin-when-direction(10px);
				}
			}
		}
	}
}
