@import "../../styles/global";
$img-size: 30px;

.navbar {

	.right {
		.nav {
			margin: 23px 0;

			.item {

				.iconLink {
					span {
						color: $dk-gray;
						margin-right: 5px;
					}
				}

				&:first-child {
					
				}

				&.current {
					span {
						font-family: $medium-font;
					}
				}
			}
		}
	}

	.left {
		.nav {
			.avatar {
				width: $img-size;
				height: $img-size;
				vertical-align: middle;
				cursor: pointer;

				@include border-radius(50%);
				@media(max-width: $tablet) {
					width: $img-size + 4;
					height: $img-size + 4;
				}
			}

			.iconLink {
				margin-left: 23px;

				.icon {
					margin-top: 6px;
				}

				&.webIcon {
					@media(max-width: $tablet) {
						display: none;
						width: 1502px
					}
				}

				&.hasNotif {
					position: relative;

					&:before {
						content: '';
						position: absolute;
						top: 0;
						width: 4px;
						height: 4px;
						background-color: $red;
						left: 10px;
						@include border-radius(50%);
					}
				}

				&.status {
					width: $img-size;
					height: $img-size;
					background-color: #f3f7fd;
					text-align: center;
					@include border-radius(50%);

					.icon {
						margin-top: 4px;
					}

					@media(max-width: $tablet) {
						width: $img-size + 4;
						height: $img-size + 4;

						.icon {
							margin-top: 6px;
						}
					}
				}

				@media(max-width: $tablet) {
					margin-left: 10px;
				}
			}
		}
	}
}

body:lang(en) {
	.navbar {
		.right {
			.menuWrapper {
				.menu {
					margin-right: 6px;
				}
			}

			.nav {
				.item {
					margin-right: $default-margin;
					margin-left: 0;
				
					.iconLink {
						span {
							margin-left: 5px;
							margin-right: 0;
						}
					}
					
					&:first-child {
						margin-left: $default-margin - 12;
					}
				}
			}	 
		}

		.left {
			margin-right: $default-margin;
			margin-left: 0;

			@media(max-width: $tablet) {
				margin-right: 0;
			}

			.nav {
				.iconLink {
					margin-right: 21px;
					margin-left: 0;

					&.hasNotif {
						&:before {
							left: 5px;
						}
					}

					@media(max-width: $tablet) {
						margin-right: 10px;
						margin-left: 0;
					}
				}
			}
		}
	}
}
