$default-height: 35px;
$br-radius-lg: 100px;
$br-radius-sm: 3px;
$padding: 2%;

%sub-text {
  font-size: 14px;
  font-weight: 300;
}

%focused {
  border-color: solid 1px $blue;
}

%error {
  border-color:  $red;
}

%success{
    border-color:  $green;
}

%title{
    font-size: 12px;
  font-weight: normal;
}

%disabled{
    background-color: #f1f2f3;
}