@import '../../styles/global';

.sidebar {
  @include transition(all 0.4s);

  &.open {
    .overlay {
      display: block;
    }

    .menuWrapper {
      right: 0;
    }
  }

  .menuWrapper {
    @include transition(right 0.35s ease-out);

    .sidebar-menu {
      .iconLink {
        img {
          width: 18px;
          height: 18px;
          margin-left: 12px;
        }
      }

      .actionNav {
        .iconLink {
          span {
            font-family: $medium-font;
          }
        }
      }

      .downloadBox {
        border: solid 0.5px #dddddd;
	     }
    }
  }
}

body:lang(en) {
  .sidebar {
    &.open {
      .menuWrapper {
        left: 0;
      }
    }

    .menuWrapper {
      right: auto;
      left: 0;
      @include transition(left 0.35s ease-out);

      @media (max-width: $tablet) {
        left: -($sidebar-width);
      }

      .sidebar-menu {
        .upFromUrl {
          padding-right: 0;
          padding-left: 11px;
          text-align: left;
        }

        .iconLink {
          img {
            margin-right: 12px;
            margin-left: 0;
          }
        }

        .actionNav {
          .iconLink {
            margin-right: 0;
            margin-left: 11px;
          }
        }
      }
    }
  }
}
