@import "../../styles/global";

.sidebar {
	position: relative;

	@media(max-width: $tablet) {
		display: none;
	}

	.menuWrapper {
		position: fixed;
		top: $navbar-height;
		bottom: 0;
		width: $sidebar-width;
		background: #fff;
		opacity: 0.99;

		@if $body-dir == rtl {
			right: 0;
		} @else {
			left: 0;
		}

		.menu {
			position: absolute;
			top: 40px;
			right: 0;
			bottom: 0;
			left: 0;
			padding: 0 $default-padding;
			overflow: auto;

			.upFromUrl {
				margin-bottom: 14px;
				width: 200px;
				height: 35px;
				line-height: 35px;
				background: #f7f7f7;
				font-family: $medium-font;
				cursor: pointer;
				border: 0;

				@include border-radius($br-radius-sm);
				@if $body-dir == rtl {
					padding-right: 11px;
					text-align: right;
				} @else {
					padding-left: 11px;
					text-align: left;
				}
			}

			.iconLink {
				
				img {
					width: 18px;
					height: 18px;
					@include margin-with-direction(12px);
				}
			}

			.actionNav {

				.iconLink {
					margin-bottom: 18px;

					@if $body-dir == rtl {
						margin-right: 11px;
					} @else {
						margin-left: 11px;
					}

					span {
						font-family: $medium-font;
					}
				}
			}

			.nav {
				margin-top: 16px;
				margin-bottom: 100%;
				
				.iconLink {
					margin-bottom: 13px;
					color: #737373;
				}
			}

		}
	}
}