@import "../../../styles/global";

.btn {
	display: block;
	font-family: $regular-font;
	cursor: pointer;
	@include border-radius(3px);

	&.btnDefault {
		@include btn-theme(linear-gradient(to top, #f7f7f7, #fff), $text, null);

		&.btnDefaultOutline {
			@include btn-theme(rgba(33, 211, 82, 0.1), $green, $green);
		}	
	}	

	&.btnPrimary {
		@include btn-theme(linear-gradient(to top, #2686f9, #4b9cfd), #fff, null);

		&.btnPrimaryOutline {
			@include btn-theme(#fff, #4a90e2, $lt-blue);
		}	
	}

	&.btnSuccess {
		@include btn-theme(linear-gradient(to top, #2fd673, #3ae57c), #fff, null);

		&.btnSuccessOutline {
			@include btn-theme(rgba(33, 211, 82, 0.1), $green, $green);
		}
	}

	&.btnDanger {
		@include btn-theme(linear-gradient(to top, #f94926, #fd6b4b), #fff, null);

		&.btnDangerOutline {
			@include btn-theme(rgba(255, 71, 71, 0.1), $red, $red);
		}
	}

	&.btnWarning {
		@include btn-theme(linear-gradient(to top, #f2bf27, #f8cb45), #fff, null);
	}

	&.btnExtraRadius {
		@include border-radius(100px);
	}

	/* btn size */
	&.btnSm {
		width: 70px;
		height: 35px;
		@include box-shadow(0 1px 3px 0 rgba(0, 0, 0, 0.15))
	}

	&.btnMd {
		width: 120px;
		height: 25px;
	}

	&.btnLg {
		width: 200px;
		height: 35px;
		@include box-shadow(0 1px 3px 0 rgba(0, 0, 0, 0.15))
	}
}