@import "../../../styles/global.scss";

$box-length: 160px;
$icon-length: 60px;
$margin: 13px;
$background-white: #fff;
$side-length: 10px;
$margin: 4px;
$date-font-size: 10px;

.item {
  @include box-shadow(0 1px 2px 0 rgba(0, 0, 0, 0.1));
  @include border-radius(2.6px);
  @include flex(column, wrap);

  min-width: $box-length;
  height: $box-length;
  position: relative;
  background-color: $background-white;
  margin: $box-length / 10 0 $box-length / 10 $box-length / 10;
  flex: 0 1 calc(18% -16px);
  justify-content: center;
  align-items: center;

  @media (max-width: $tablet*1.5) {
    flex: 0 1 calc(30% - 8px);
  }
  &:nth-child(5n + 5) {
    margin-left: 0;
  }
  .checkbox {
    position: absolute;
    bottom: $side-length;
    right: $side-length;
  }

  .dropdown {
    position: absolute;
    bottom: $side-length;
    left: $side-length;
  }

  .info {
    @include flex(column, wrap);
    justify-content: center;
    align-items: center;
    .date {
      font-family: "vazir-light";
      font-size: $date-font-size;
    }
  }

  .type,
  img {
    width: $icon-length;
    height: $icon-length;
    margin-top: -$margin * 2;
  }
}
