@import '../../../styles/global.scss';
$icon-length: 60px;

.item {
  @media(max-width: $mobile - 20) {
    min-width: 139px;
    height: 150px;
  }

  @media(max-width: $mobile + 220) {
    flex-basis: calc(50% - 6px);
    margin: 6px 3px 0 3px;
  }   

  @media (min-width: $mobile + 221) and (max-width: $tablet) {
    flex-basis: calc(33.33% - 20px);
    margin: 20px 0 0 20px;
  } 

  @media (min-width: $tablet + 1) and (max-width: $web-medium - 100) {
    flex-basis: calc(50% - 10px);
    margin: 10px 0 0 10px;
  }    

  @media (min-width: $web-medium - 101) and (max-width: $web-medium-max) {
    flex-basis: calc(28%);
    margin: 30px 0 0 30px;
  }  

  @media (min-width: $web-medium-max + 1) and (max-width: $web-medium-max + 300) {
    margin: 24px 0 0 24px;
  }

  .type,
  img {
    width: $icon-length;
    height: $icon-length;
    object-fit: cover;
    border-radius: 1px;
    @media(max-width: $mobile - 20) {
      width: $icon-length - 10;
      height: $icon-length - 10;
    }
  }
}

body:lang(en) {
  .item {
    @media(max-width: $mobile + 220) {
      margin: 6px 6px 0 0;
    }  

    @media (min-width: $mobile + 221) and (max-width: $tablet) {
      margin: 20px 20px 0 0;
    } 

    @media (min-width: $tablet + 1) and (max-width: $web-medium - 100) {
      margin: 10px 10px 0 0;
    }    

    @media (min-width: $web-medium - 101) and (max-width: $web-medium-max) {
      margin: 30px 30px 0 0;
    }  

    @media (min-width: $web-medium-max + 1) and (max-width: $web-medium-max + 300) {
      margin: 24px 24px 0 0;
    }
  }
}