.downloadBar {
  .downloadBox {
    border: solid 0.5px #dddddd;
    width: 200px;
  }
}

@media (max-height: 750px) and (min-height: 487px) {
  .downloadBar {
    padding: 0;
  }
}

@media (max-height: 486px) {
  .downloadBar {
    display: none;
  }
}
