@import '../../styles/global.scss';

$border-table: #e5e5e5;
$table-header-color: #9b9b9b;
$border-bottom: 1.5px solid $border-table;

.table {
  border-collapse: collapse;
  padding: 0;
  width: 100%;
  z-index: -100;

  th,
  td {
    text-align: left;
    border-bottom: $border-bottom;
    color: $dk-gray;
  }
  tr {
    cursor: pointer;

    td:last-child {
      text-align: left;

      > div {
        @media(max-width: $mobile) {
          margin-right: -44px;
          width: 87px;
        }
      }
    }
  }

  tbody {
    td {
      padding: 19px 0;

      @media(max-width: $tablet) {
        padding: 16px 0;
      }
    }
  }
  td {
    text-align: right;
    height: 23px;
    padding: 20px 3px;
  }
  .header {
    color: $table-header-color;
  }
  .name {
    max-width: 160px;
    justify-content: center;
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: $medium-font;
  }
  .sort {
    display: flex;
    flex-direction: column;
    margin: 0 3px;
    width: 10px;
    span {
      line-height: 6px;
      font-size: 1px;
    }
  }
}

@media screen and (max-width: $tablet) {
  .table {
    td {
      display: none;
    }

    thead {
      border-bottom: $border-bottom;

      td {
        padding-top: 37px;
        padding-bottom: 20px;

        &:first-child {
          font-family: $medium-font
        }
      }
    }
    .more {
      float: right;
    }
    .left {
      padding: 0 $important;
      text-align: left;
    }
    .header {
      border: 0;
    }
    .show {
      display: table-cell;

      .icn {
        img {
          vertical-align: middle;
          margin-left: 6px;
        }

        span {
          font-family: $medium-font;
        }
      }
    }
  }
}

body:lang(en){
  .table {
    tr {
      td {
        @media screen and (max-width: $tablet) {
          &:last-child {
              text-align: right;
          } 
        }
      }
    }

    .icn {
      img {
        margin-right: 6px;
      }
    }
  }
}