@import '../../styles/global.scss';

$border-table: #e5e5e5;
$table-header-color: #9b9b9b;
$padding-td: 3%;
$border-bottom: 1.5px solid $border-table;

.table {
  border-collapse: collapse;
  margin: auto;
  padding: 0;
  width: 100%;
  z-index: -100;
  // table-layout: fixed;

  th,
  td {
    padding: $padding-td 0;
    text-align: left;
    border-bottom: $border-bottom;
    color: $dk-gray;
  }
  tr {
    td:last-child {
      text-align: left;
    }
  }
  td {
    text-align: right;
    height: 23px;
    min-width: 150px;
  }
  .header {
    padding-top: 0;
    color: $table-header-color;
  }
  .name {
    max-width: 160px;
    justify-content: center;
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .sort {
    display: flex;
    flex-direction: column;
    margin: 0 3px;
    width: 10px;
    span {
      line-height: 6px;
      font-size: 1px;
    }
  }
}

@media screen and (max-width: $tablet) {
  .table {
    td {
      display: none;
    }
    thead {
      border-bottom: $border-bottom;
    }
    .more {
      float: right;
    }
    .left {
      padding: 0 !important;
      text-align: left;
    }
    .header {
      border: 0;
    }
    .show {
      display: table-cell;
      padding: $padding-td * 2 3px;

      .icn {
        img {
          vertical-align: middle;
          margin-left: 6px;
        }
      }
    }
  }
}
