@import "../../../styles/global";
@mixin type-input($type) {

	.textInput {
		border: 1px solid;

		@if $type == error {
			border-color: $red;
		} @else if $type == success {
			border-color: $green;
		} @else if $type == disabled {
			background-color: $disabled-dk-gray;
			color: $input-color;
			border-color: #d6d7d7;
		}
	}
	
}

.inputWrapper {
	position: relative;

	.label {
		display: block;
		color: $dk-gray;
		font-size: $font-size - 2;
		font-family: $medium-font;
		margin-bottom: 7px;
	}

	.textInput {
		@include input-theme;
		border: 1px solid $input-border;
		padding-top: 8px;
		padding-right: 10px;
		padding-left: 10px;
		padding-bottom: 8px;
		margin-bottom: 6px;

		&:hover {
			border: 1px solid $disabled-lt-gray;
		}

		&:focus {
			border: 1px solid $lt-blue;
		}

		&.right {
			padding-right: 36px;
		}

		&.left {
			padding-left: 36px;
		}
	}

	&.error {
		@include type-input(error);
	}

	&.success {
		@include type-input(success);
	}

	&.disabled {
		@include type-input(disabled);
	}

	.shoowErorrMsg {
		display: block;

		> img {
			width: 15px;
			height: 15px;
			margin-left: 6px;
			vertical-align: middle;
		}

		> span {
			color: $red;
			font-size: $font-size - 4;
		}
	}

	.withIcon {
		position: absolute;
		top: 10px;
		width: 16px;

		@if $body-dir == 'rtl' {
			right: 10px;
		} @else {
			left: 10px;
		}
	}
}
