@import '../../styles/global.scss';

.header {
	@include flex(row, wrap);
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;

	.cstBread {
		flex: none;
		flex-basis: 23%;
	}
}