@import '../../../../styles/global.scss';

.giftCard {
	.addCredit {
		@include flex(row, wrap);
		align-items: center;
		justify-content: space-between;
		margin-top: 66px;
		margin-bottom: 66px;
		padding: 0 27px 0 21px;
		height: 64px;
		background-color: #fff;
		@include border-radius($br-radius-sm);
		@include box-shadow(0 1px 3px 0 rgba(0, 0, 0, 0.15));

		button {
			div {
				img {
					margin-left: 9px;
				}
			}
		}
	}

	.payment {
		@include flex(row, wrap);
		align-items: center;
		margin-top: 26px;
		margin-bottom: 184px;

		input {
			width: 174px;
			margin-left: 10px;
			text-align: left;
		}
	}
}

body:lang(en) {
	.addCredit {
		button {
			div {
				img {
					margin-right: 9px;
					margin-left: 0
				}
			}
		}
	}

	.giftCard {
		.payment {
			input {
				margin-right: 10px;
				margin-left: 0;
			}
		}
	}
}